<<body>
    <div class="dear">
        <br><br>
        <br><br>    <h1>Dear,</h1>
    <p>Your order placed successfully</p>
    <p>Thanks for shopping, we hope everyone recover soon.</p>
    <p>-Team MediCares</p>
    <div>
        <button class="btn btn-primary" type="button" (click)="show1()" style=" font-size:20px;width: 180px; height: 50px;border-radius: 10px;">Shop More</button>
        <button class="btn btn-danger" type="button" (click)="show2()" style=" font-size:20px;width: 180px; height: 50px;border-radius: 10px;">Logout</button>  
    </div>
</div>
</body>