<div class="col-md-3">
    <img src="assets\images\multigrainnut.jpg"   style="height:300px; width:200px" alt="found" class="img-rounded">
    <h4>EATRITE MULTIGRAIN HEALTH MIX 425 GMS</h4>
    <p></p>
    <button class="btn btn-success">Add To Cart</button>
    <button class="btn btn-danger">Buy Now</button>
    </div>
    
    <div class="col-md-3">
    <img src="assets\images\glucosenut.jpg"  style="height:300px; width:200px" alt=" found" class="img-rounded">
    <h4>Bed</h4>
    <p>Royal Couch</p>
    <button class="btn btn-success">Add To Cart</button>
    <button class="btn btn-danger">Buy Now</button>
    </div>
    
    <div class="col-md-3">
      <img src="assets\images\eatritenut.jpg"  style="height:300px; width:200px" alt="found" class="img-rounded">
      <h4> Dining table</h4>
      <p>6-seater Table</p>
      <button class="btn btn-success">Add To Cart</button>
      <button class="btn btn-danger">Buy Now</button>
      </div>
    
      <div class="col-md-3">
          <img src="assets\images\oatsnutrition.jpg" style="height:300px; width:200px"  alt="found" class="img-rounded">
     <h4>Tv Units</h4>
      <p>Modern </p>
      <button class="btn btn-success">Add To Cart</button>
      <button class="btn btn-danger">Buy Now</button>
    
          <br><br><br><br>
      </div>
