<body>
    <div class="navbar">
        <img style="width: 150px; height: 90px;justify-content: center; " 
            src="./assets/images/logo.png" alt="Logo">

        <h2  style="margin:30px; margin-left: 480px; ">Welcome Admin</h2>

        <button class="regid"  (click)="show4()" class="btn btn-info"
            style="margin:20px; margin-left: 500px; height: 50px; width: 120px;font-size: 20px;  ">Logout</button>

    </div>

    <div class="action" style="display: flex;">
        <button class="btn btn-primary" (click)="updatePro()" style="margin-right:35px;display: grid;font-size: 50px;border-radius: 50px;">
            <img src="./assets/images/products.webp" alt="products Photo" style="width: 400px;height:400px;border-radius: 50px;">Add/Update<br>Products</button>
        <button class="btn btn-primary" (click)="updateusers()"style="margin-left:15px; margin-right:20;display: grid;font-size: 50px;border-radius: 50px;">
            <img src="./assets/images/users.webp" alt="Employee Photo" style="width: 400px;height:400px;border-radius: 50px;">Add/Update<br>Users</button>
        
    </div>
</body>